//Main colors
$color-primary: #4E89AE;
$color-primary-light: #6fa4c5;
$color-primary-dark: #407da3;

$color-secondary-light: #FFA372;
$color-secondary-dark: #f3712b;

$color-tertiary-light: #ED6663;
$color-tertiary-dark: #ad413f;



$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;


$color-white:#fff;
$color-black:#000;

$color-grey-light:#eee;
$color-grey-light-1: #f7f7f7;


//Font-sizes
$default-font-size: 1.6rem;