//Main colors
$color-primary: #4E89AE;
$color-primary-light: #6fa4c5;
$color-primary-dark: #407da3;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;



$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;


$color-white:#fff;
$color-black:#000;

$color-grey-light:#eee;
$color-grey-light-1: #f7f7f7;


//Font-sizes
$default-font-size: 1.6rem;